/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*

	La Routa '25 Variables

*/
/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*
	Baseline and resets
*/
html, body {
  margin: 0;
  padding: 0;
  background-color: #222222;
  color: #D1DAE7;
  box-sizing: border-box;
}
@media screen and (max-width: 800px) {
  html, body {
    font-size: 14px;
  }
}

/*
	Grid
*/
.container {
  max-width: 960px;
  margin: auto;
}

/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*
	Typography
*/
html {
  font-family: "Inter", sans-serif;
  font-size: 16px/1em;
  line-height: 1.33em;
}

sub {
  opacity: 0.5;
}

p {
  line-height: 1.33em;
  font-weight: 400;
}

a {
  color: #D1DAE7;
  text-decoration: underline;
}

h1, h2, h3, h4 {
  font-family: "Inter", sans-serif;
  font-weight: bold;
  line-height: 1.3em;
}
@media screen and (max-width: 768px) {
  h1, h2, h3, h4 {
    line-height: 1.2em;
  }
}

.hero-text {
  font-size: 3.5em;
}
@media screen and (max-width: 768px) {
  .hero-text {
    font-size: 3em;
  }
}

h1 {
  font-size: 2.625em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*
	Button
*/
.button {
  display: inline-block;
  background-color: #161E4D;
  color: #fff;
  padding: 12px 21px;
  text-decoration: none;
}

.scroll-item {
  width: 300px;
  height: 388px;
  display: inline-block;
  margin-right: 1em;
}

.swiper-wrapper {
  display: flex;
  width: 100vw;
  overflow-x: scroll;
}

/*
	Site head
*/
#site-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-image: url("../images/graphics/head-pattern.png");
  background-repeat: repeat-x;
  background-size: 1000px 16px;
  padding: 50px;
}
#site-head #larouta-logo {
  width: 218px;
}

#site-foot {
  display: flex;
  justify-content: space-between;
}
#site-foot .social-icon {
  width: 32px;
  height: 32px;
}

/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*
	Homepage styles
*/
.home #page-head {
  padding: 5vw 0;
}
.home #page-head .action-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-top: 1px solid #D1DAE7;
  padding: 1em 0;
  gap: 2em;
}
.home #page-head .action-bar sub {
  flex: 2;
}
.home #page-head img {
  width: 95px;
}
.home #image-scroller {
  height: 400px;
}
.home #about-arws {
  display: flex;
}

/* 
    La Routa 2025 Main Stylesheets  
    Coded: Nick Aguilos Studio | January 2025    
*/
/*
	Coming page styles
*/
.teaser #site-head {
  padding: 20px 0;
}
.teaser #page-head {
  padding: 0;
  text-align: center;
}
.teaser #page-head .logo-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2em 0;
  gap: 2em;
}
@media screen and (max-width: 480px) {
  .teaser #page-head .logo-bar {
    flex-direction: column;
  }
  .teaser #page-head .logo-bar img {
    width: 200px !important;
  }
}
.teaser #page-head .logo-bar img {
  width: 200px;
}
@media screen and (max-width: 768px) {
  .teaser #page-head .logo-bar img {
    width: 150px;
  }
}
.teaser #page-head #subtext {
  color: #F6CC15;
  display: flex;
  flex-direction: column;
  gap: 1em;
  align-items: center;
  justify-content: space-between;
  padding: 32px 0;
}
.teaser #page-head #subtext img {
  width: 80px;
}
.teaser #teaser-content {
  max-width: 768px;
}
.teaser #site-foot {
  border-top: 1px dashed #D1DAE7;
  padding: 2em 0;
  font-size: 14px;
}
@media screen and (max-width: 768px) {
  .teaser .container {
    padding: 0 1.5em;
  }
  .teaser .action-bar {
    flex-direction: column;
  }
  .teaser #site-foot {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1em;
  }
}/*# sourceMappingURL=main.css.map */