/*
	Baseline and resets
*/

@use 'colors' as c;

// Reset 
html, body {
	margin: 0;
	padding: 0;
	background-color: c.$dark-gray;
	color: c.$blue-2;
	box-sizing: border-box;
	min-width: 400px;

	@media screen and (max-width: 800px) {
		font-size: 14px;
	}
}

img {
	width: 100%;
}

#woven-divider {
	background: url('/images/graphics/head-pattern-2.png') repeat-x;
	height: 92px;
}