/*
	Baseline and resets
*/

@use "variables" as v;

// Reset
html,
body {
    margin: 0;
    padding: 0;
    background-color: v.$dark-gray;
    color: v.$blue-2;
    box-sizing: border-box;

    @media screen and (max-width: 800px) {
        font-size: 14px;
    }
}

.btn {
    border-radius: 0;
}
