/*
	Button
*/

@use 'colors' as c;

.btn {
	border-radius: 0;
}

.btn-primary {
	background-color: c.$primary-blue;
	border-color: c.$primary-blue;
	color: #fff;
	padding: 12px 21px;
	text-decoration: none;
}