/*

	La Routa '25 Variables

*/

// Colors
$black: #000000;
$dark-gray: #111111;
$primary-blue: #0706C9;
$primary-red: #C92116;
$primary-yellow: #F6CC15;
$blue-1: #6F87A6;
$blue-2: #D1DAE7;
$white: #FFFFFF;

$border: $blue-2;