/*
	Site head
*/

#site-head {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-image: url('../images/graphics/head-pattern.png');
	background-repeat: repeat-x;
	background-size: 1000px 16px;
	padding: 50px;

	#larouta-logo {
		width: 218px;
	}
}