/*
	Homepage styles
*/

@use '../utilities/colors' as c;
.home {
	// Page head
	#page-head {
		padding: 5vw 0;

		.action-bar {
			>div:first-child {
				width: 120px !important;
			}
			gap: 1em;
			@media screen and (min-width: 768px) {
				
			}
		}

		img {
			width: 95px;
		}
	}

	// Image scroller
	#image-scroller {
		.carousel-item {
			height: 388px;
		}
	}

	// About ARWS
	#about-arws {
		display: flex;
		gap: 2em;

		#arws-logo {
			border: 1px solid c.$border;
		}
	}

	
}