/*
	Homepage styles
*/

@use '../utilities/colors' as c;
.home {
	// Page head
	#page-head {
		padding: 5vw 0;

		.action-bar {
			display: flex;
			justify-content: space-between;
			align-items: center;
			border-top: 1px solid c.$border;
			padding: 1em 0;
			gap: 2em;

			// Flex children
			sub {
				flex: 2;
			}
		}

		img {
			width: 95px;
		}
	}

	// Image scroller
	#image-scroller {
		.carousel-item {
			height: 388px;
		}
	}

	// About ARWS
	#about-arws {
		display: flex;
		gap: 2em;

		#arws-logo {
			border: 1px solid c.$border;
		}
	}

	
}